mat-card{
    margin: 5rem auto;
    display: block;
    width: 30%;
    padding: 2rem;
}

mat-card-title{
    text-align: center;
    margin: 1rem 0;
}

mat-form-field{
    width: 100%;
}

small{
    color: #ae0d0d;
}